.idea/
.DS_Store

black-white/.idea
black-white/cmake-build-debug

Raytracing/cmake-build-debug
Raytracing/.idea
Raytracing/.DS_Store

noise/cmake-build-debug
noise/.idea
noise/.DS_Store

Segmentation/cmake-build-debug
Segmentation/.idea
Segmentation/.DS_Store
